body {
  background-color: #cafdc6;
  text-align: center;
  border-color:#006600;

}

.responsive {
     padding: 0 6px;
     float: left;
     width: 24.99999%;
  }
  @media only screen and (max-width: 700px){
     .responsive {
         width: 49.99999%;
         margin: 6px 0;
     }
  }
  @media only screen and (max-width: 500px){
     .responsive {
         width: 100%;
     }
  }
p {
  border-style: dotted;
 //width: 1000px;
  border-radius: 50px;
  margin-left: 250px;
}

h2{
  color:#009900;
}
h1{
  color:#009900;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #000;
}
li {
   float: left;
}
li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
li a:hover:not(.active) {
   background-color: #4c4f4b;
}
.active {
   background-color: #4CAF50;
}


#header {
    background: #333;
    height: auto;
    padding: 10px 10px;
}
