body {
  background-color: #cafdc6;
  text-align: center;
  border-color:#006600;

}
p {
  border-style: dotted;
  width: 1000px;
  border-radius: 50px;
  margin-left: 250px;
}

h2{
  color:#009900;
}
h1{
  color:#009900;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

a:link {
    color: #009900;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
    font-family: verdana;
}
a:visited {
    color: #009900;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
}





div.gallery {
  margin-right:200px;
  float: none;

    }

div.gallery:hover {

    }

div.gallery img {

  ;

    }


div.desc {
  padding: 15px;
  text-align: center;
  margin-left: 100px

    }
